{% extends 'base.html.twig' %}

{% block title %}Page de Bienvenue!{% endblock %}

{% block body %}
    

    <hr>

    <div class="style">
    <fieldset>
        
        <!-- <div style="font-family: fantasy;"> -->
            <legend><em>Bienvenue...</em></legend>

            <p>Vous avez vibré devant des films épiques, dévoré des romans de fantasy, exploré des mondes virtuels
                pendant
                des
                heures. Vous avez suivi les quêtes des autres. </p>
            <p> <strong> Et si cette fois , c'était la votre??</strong></p>
            <p>Oubliez le rôle de spectateur. Le jeu de rôle (JDR) est une invitation à devenir l'acteur principal.</p>
            <p> Ici, il n'y a pas de script, pas de limites imposées par un écran. Il n'y a que votre imagination, la
                voix
                d'un
                conteur pour
                vous guider, et le destin qui bascule sur un lancer de dés.

                Fermez les yeux et imaginez. Le bruissement des feuilles dans une forêt ancestrale que personne n'a
                jamais
                explorée.
                La tension palpable en désamorçant un piège dans une cité futuriste. Les éclats de rire partagés avec
                vos
                compagnons
                après une négociation désastreuse avec un gobelin malicieux. Chaque partie est une histoire unique,
                écrite
                en
                direct
                par les choix, les échecs et les triomphes de votre groupe. C'est une expérience de création, de
                collaboration
                et
                d'émotions partagées que nul autre loisir ne peut offrir.

                <strong>Rejoignez les Aventuriers Oniriques !</strong>
                
                <p>Ce souffle d'aventure, cette magie de la création, c'est ce que nous cultivons au sein des Aventuriers
                Oniriques.
                Notre association est une porte ouverte à tous ceux qui sentent en eux l'appel de l'imaginaire.

                Que vous soyez un vétéran cherchant de nouvelles tables de jeu ou un grand curieux qui n'a jamais tenu
                un dé
                à
                20
                faces, votre place est parmi nous. Nul besoin d'être un expert ou un grand acteur. La seule chose
                requise
                est
                l'envie de s'évader et de partager un bon moment.</p>

            <strong>Chez les Aventuriers Oniriques</strong>, vous trouverez :

            <p> - Une communauté accueillante et bienveillante, où le plaisir de jouer ensemble prime sur tout le reste.
            </p>
            <p> - Des Maîtres de Jeu passionnés, prêts à vous faire voyager dans des univers incroyables, de la fantasy
                médiévale à la
                science-fiction, en passant par l'horreur ou l'enquête.</p>
            <p> - Des tables d'initiation conçues spécialement pour vous accompagner lors de vos premiers pas, sans
                pression
                et à votre rythme.</p>
            Alors, n'hésitez plus. Laissez le quotidien derrière vous le temps d'une soirée. Osez pousser la porte de
            notre
            association et venez partager une aventure avec nous. Le plus grand des voyages commence toujours par un
            premier
            pas. Le vôtre pourrait commencer par un simple lancer de dés.

            <p>Votre aventure onirique ne demande qu'à commencer. <strong>Rejoignez-nous !</strong></p>
    </fieldset>
    </div>


    

{% endblock %}
