{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<div class="container" style="padding: 40px;">
    <h1>Qui sommes-nous ?</h1>
    
    <p>
    pBienvenue aux Aventuriers Oniriques,
     une association de jeu de rôle ouverte à tous à partir de 16 ans ! Nous vous invitons à rejoindre nos sessions d'initiation et nos parties de jeux de rôle les vendredis et samedis soirs, ainsi que les samedis après-midi.
     Nous organisons également des soirées dédiées aux jeux de société !

Nos campagnes actuelles se déroulent dans des univers variés tels que Donjons et Dragons, Harry Potter, Héros et Dragons, Cthulhu, Les Terres d'Arran et Les Chroniques Oubliées Fantasy. Vous pouvez également trouver des partenaires pour des sessions de jeux de société plus classiques ou des parties en une seule fois comme Warhammer et Cat's. Pour ceux qui ne peuvent pas se déplacer, certaines parties sont accessibles à distance.

Notre association compte aujourd'hui 23 membres et nous sommes toujours ravis d'accueillir de nouveaux joueurs ou maîtres du jeu. Grâce à notre serveur Discord mis à jour, il est plus facile que jamais de planifier les tables. Avec une co-présidence et un nouveau conseil d'administration composé de 5 membres, ainsi que de nouveaux statuts, notre association continue de se développer !

Alors, pourquoi ne pas vous lancer dans l'aventure avec une partie en One-Shot (une partie qui se déroule sur une seule soirée ou un après-midi) ou même venir observer une session pour découvrir l'univers du jeu de rôle ? Tout le monde est le bienvenu !

« Rôlistiquement » vôtre.
   </p>
</div>
{% endblock %}