{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<div class="container" style="padding: 40px;">
    {# <h1>Qui sommes-nous ?</h1> #}
    
<fieldset>    
   <legend><em> Bienvenue aux <strong>Aventuriers Oniriques,</strong></em></legend>
     <p>Une association de jeu de rôle ouverte à tous à partir de <strong>16 ans</strong> !</p> <p<Nous vous invitons à rejoindre nos sessions d'initiation et nos parties de jeux de rôle les vendredis et samedis soirs, ainsi que les samedis après-midi.</p>

<p>Nos campagnes actuelles se déroulent dans des univers variés tels que <strong>Donjons et Dragons, Harry Potter, Héros et Dragons, Z-corps, Cthulhu, Les Terres d'Arran et Les Chroniques Oubliées Fantasy</strong>...</p>
<p>Nous ouvrons aussi, des tables en <strong>One Shot</strong> (Scénario se jouant sur une seule séance) ces tables permettent de découvrir d'autres systémes de jeux, et des univers différents à chaque parties...</p>
<p>Nous organisons également des soirées dédiées aux jeux de société , ou vous pourrez trouver des partenaires pour des sessions de jeux plus classiques.</p>
 
<p>Notre association compte aujourd'hui 23 membres et nous sommes toujours ravis d'accueillir de nouveaux joueurs ou maîtres du jeu (MJ) et avec une co-présidence et un nouveau conseil d'administration composé de 5 membres,  

 ainsi que de</p> <p>nouveaux statuts, notre association continue de se développer ! Grâce à notre serveur Discord mis à jour trés réguliérement, il est plus facile que jamais de planifier les tables.</p>

<p>Alors, pourquoi ne pas vous lancer dans l'aventure avec une partie en One-Shot ou même venir observer une session pour découvrir l'univers du jeu de rôle ?</p> <p> Tout le monde est le bienvenu ! A trés vite !</p>

<p>« Rôlistiquement » vôtre.</p>
</fieldset>   
</div>
{% endblock %} 