<footer class="site-footer">
        <div class="footer-container">

            <div class="footer-section contact-info">
                <h3>Nous Contacter</h3>
                <p><i class="fas fa-envelope"></i> <a href="mailto:">les.aventuriers.oniriques@gmail.com</a></p>
            </div>






            <div class="footer-section social-links">
                <h3>Suivez-nous</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/VOTRE_PAGE" target="_blank" aria-label="Notre page Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/VOTRE_COMPTE" target="_blank"
                        aria-label="Notre compte Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Les Aventuriers Oniriques. Tous droits réservés.</p>
        </div>
    </footer>